* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

/* fading of images on start of page*/
.box-wrapper {
  transition-duration: 3000ms;
}

.box-wrapper.loading:nth-child(odd) {
  transform: translate(-200%);
  -webkit-transform: translate(-200%);
}

.box-wrapper.loading:nth-child(even) {
  transform: translate(200%);
  -webkit-transform: translate(200%);
}

main {
  position: relative;
  z-index: 1;
  margin: 0;
  background: url(../img/Royal_Palace,_Phnom_Penh_Cambodia_1.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  margin-bottom: 200px;
}

footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  width: 100%;
  text-align: center;
  background-color: #F0F0F0;
  color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer .fa-linkedin-square {
  color: #1582BB;
}
footer a {
  margin: 0 auto;
  width: 10%;
}

#btn {
  text-decoration: none;
  color: grey;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

header {
  background-color: #F0F0F0;
}
header h3 {
  font-family: "lobster";
  color: grey;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#contact a h1 {
  color: white;
  font-size: 50px;
  font-family: "great vibes";
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#contact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}
#contact a {
  text-decoration: none;
}

/*top section img*/
#top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
#top a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-family: "dancing script";
  text-decoration: none;
  margin: 20px 0px 10px;
}
#top a:nth-of-type(2) div {
  background: url(../img/img/girl.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 350px;
  width: 350px;
}
#top a div {
  background: url(../img/PicsArt_1438757351107.jpg) no-repeat center top;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 350px;
  width: 350px;
  border: 7px outset #E5E4E2;
  box-shadow: 10px 10px 7px black;
}
#top a div h1 {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 50px;
}

/*bottom section img*/
#bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-family: "dancing script";
  font-size: 50px;
  margin: 10px 0px 20px;
}
#bottom a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-decoration: none;
}
#bottom a:nth-of-type(2) div {
  background: url(../img/scroll.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 350px;
  width: 350px;
}
#bottom a div {
  background: url(../img/fam.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 350px;
  width: 350px;
  border: 7px outset #E5E4E2;
  box-shadow: 10px 10px 7px black;
}
#bottom a div h1 {
  position: relative;
  top: 250px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 50px;
}

#dancer {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
}

#wat {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
}

#buddha {
  height: 600px;
  width: 900px;
  margin: 0 auto;
}

.carousel {
  background-color: #E0E0E0;
  padding-top: 40px;
}

section.family {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 30px;
}
section.family div {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
section.family div#dad {
  position: relative;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  background: url(../img/me.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 350px;
  width: 350px;
  border: 4px solid  #700000;
  box-shadow: 10px 10px 7px black;
  margin-bottom: 80px;
}
section.family div#dad div {
  position: absolute;
  top: 100%;
  left: 0;
}
section.family div#mom {
  position: relative;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  background: url(../img/wifey.jpg) no-repeat center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-color: #F0F0F0;
  height: 350px;
  width: 350px;
  border: 4px solid  #700000;
  box-shadow: 10px 10px 7px black;
}
section.family div#mom div {
  position: absolute;
  top: 100%;
  left: 0;
}
section.family div img {
  border: 4px solid  #700000;
  box-shadow: 10px 10px 7px black;
  width: 350px;
  height: 350px;
}
section.family div h1 {
  text-align: center;
  font-family: "great vibes";
  text-shadow: 1px 1px  #700000;
}

#parents {
  margin-bottom: 100px;
  margin-top: 70px;
}

#fam .carousel {
  background-color: #700000;
}

#college {
  height: 400px;
  width: 900px;
  margin: 0 auto;
}

#baby {
  height: 400px;
  width: 600px;
  margin: 0 auto;
}

#annika {
  height: 400px;
  width: auto;
  margin: 0 auto;
}

#brandon {
  height: 400px;
  width: auto;
  margin: 0 auto;
}

#papa {
  height: 400px;
  width: auto;
  margin: 0 auto;
}

#newhead {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px;
  text-shadow: 1px 1px 2px black, 0 0 25px #700000, 0 0 5px #580000;
}
#newhead h1 {
  font-family: "great vibes";
  font-size: 50px;
  font-weight: 900;
  color: white;
}
#newhead h3 {
  text-shadow: 1px 1px 2px black, 0 0 25px #700000, 0 0 5px #580000;
}

#pageback1 {
  color: #700000;
  font-size: 18px;
  padding: 10px 20px;
  background-color: silver;
  margin-left: 20px;
}

@media (max-width: 750px) {
  header h1 {
    text-align: center;
  }

  #top, #bottom {
    display: block;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: none;
    margin: 0;
  }
  #top a div, #bottom a div {
    margin: 10px auto;
  }
  #top .box-wrapper, #bottom .box-wrapper {
    margin: 0;
  }

  #bottom a div h1 {
    top: 0;
  }
}
